*{
    margin: 0;
    
}
#container{
    width: 100%;
    height: 300px;
    border:0;
    margin: 0 auto;
}
#counter{
    position: relative;
    display: inline-block;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24;
    font-weight: bolder;
    background-color: rgba(255, 0, 0, 0.7);
    padding: 3%;
    /* opacity: 0.1; */
}
#slider1{
    width: 100%
}

nav span{
    margin: 3%;
    background-color: pink;
    color: maroon;
}
header{
    width:100%;
    height: 120px;
    background-color: burlywood;    
}
footer{
    width:100%;
    height: 100px;
    background-color:rgb(1, 5, 63);
    color: white;
}
section{
    width: 100%;
    height: 900px;
}
#mytitle{
    font-size: 300%;
    padding-left: 500px;
    padding-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #999999;
}
.pagination{
    display: inline-block;
    color:white;
    float: left;
    padding: 8px 16px;
    
    }